{% extends 'base.html.twig' %}
{% block title %}
	{{ conference.city }}
	-
	{{ conference.year }}
{% endblock %}

{% block body %}
	<h2>{{ conference }}
		Conference
	</h2>
	{% if comments|length > 0 %}
		<div>
			Il y a
			{{ comments|length }}
			commentaire.</div>

		{% for comment in comments %}
			{% if comment.photofilename %}
				<img src="{{ asset('uploads/uploads/photos/' ~ comment.photofilename) }}" style="max-widith: 200px"/>
			{% endif %}

			<h4>{{ comment.author }}</h4>
			<small>
				{{ comment.createdAt|format_datetime('medium', 'short') }}
			</small>
			<p>
				{{ comment.text }}</p>
		{% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('conference', {'id': conference.id, 'offset': previous}) }}">Previous</a>
        {% endif %}

        {% if next < comments|length %}
            <a href="{{ path('conference', {'id': conference.id, 'offset': next}) }}">Next</a>
        {% endif %}

	{% else %}
		<div>
			Aucun commentaire n'as ete poster pour cette conference.
		</div>
	{% endif %}
{% endblock %}
